#!/bin/sh

[ -d "$HOME/.local/bin" ] && PATH="$HOME/.local/bin:$PATH"

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"

export EDITOR="vim"
xrandr --output DP-1 --auto --left-of eDP-1 &
